.hamburger-menu {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 32px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
}

.hamburger-menu .bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 5px;
    transition: 0.3s;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 3px 0 12px rgba(0,0,0,0.12);
    padding: 70px 20px;
    transition: left 0.3s ease;
    z-index: 1500;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 25px 0;
}

.side-menu ul li a {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.side-menu.open {
    left: 0;
}


