.login-container {
    max-width: 500px !important;
    width: 100% !important;
    margin: 80px auto 0 auto;
    background-color: #f5e8d8;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.login-box {
    width: 100% !important;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3b1f0f;
}

.login-container label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: #6b4a2b;
}

.login-container input {
    width: 100%;
    height: 45px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d2c1a8;
    background-color: #ffffff;
}

.login-container button {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #000;
}

.kakao-btn-wrapper {
    width: 100%;
    margin-top: 25px;
}

.kakao-btn-wrapper img {
    width: 100%;
    height: 50px; 
    border-radius: 6px; 
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15); /* 동일한 그림자 */
    cursor: pointer;
    display: block;
}

/* 네이버 버튼 박스 */
.naver-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 8px;

    background-color: #03C75A; 
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.naver-icon {
    position: absolute;
    left: 11px;
    width: 43px;
    height: 43px;
}

.naver-text {
    font-size: 18px;
    color: white;
}


.google-login-btn {
    position: relative;     
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    margin-top: 12px;
    max-width: 450px;
    padding: 12px 20px;
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #3c4043;
    text-decoration: none;
    transition: 0.2s;
}

.google-login-btn:hover {
    background-color: #f7f8f8;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.1), 
                0 1px 3px rgba(60, 64, 67, 0.08);
}

.google-icon {
    position: absolute;  
    left: 20px;          
    width: 28px;
    height: 28px;
}






