.home-wrapper {
	width: 100%;
    max-width: none;     
    margin: 0 auto;         
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    box-sizing: border-box;
    overflow: hidden;
}


.top-row {
    height: 10vh;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row input {
    height: 40px !important;
    width: 250px !important;
    border-radius: 8px;
    padding: 0 10px;
    background: white;
}

.home-wrapper .card-row {
    height: 18vh;
    min-height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 25px !important;
}

.home-wrapper .card-box {
    height: 100%;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    background: #f5e8d8 !important; 
}

.home-wrapper .bottom-row {
    min-height: 430px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.home-wrapper .panel {
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    background: white;
    text-align: center;
    overflow: hidden;     /* iframe 내부 margin/padding 영향 제거 */
}

.home-wrapper .panel.calendar-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-wrapper .panel.calendar-panel iframe {
    flex: 1;
    height: 100% !important;
    border: none;
}

.home-wrapper .panel.chart-panel {
    display: flex;
    flex-direction: column;
}

.home-wrapper .panel.chart-panel iframe {
    width: 100%;
    height: 350px !important;
    border: none;
}

.chart-container {
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}


